* {
  margin: 0; //Remove o espaço externo padrão
  padding: 0; //Remove o preenchimento padrão
  box-sizing: border-box; //Respeitar as medidas que eu especificar
}

header {
  background-color: rgb(124, 229, 124);
  width: 100%; //Largura W
  height: 10vh; //Altura H

  //padding-left: 50px; //Move internamente da esquerda para a direita

  //padding-top: 50px; //Move internamente de cima para baixo

  //padding-right: 50px; //Move internamente da direita para a esquerda

  // padding-bottom: 50px; //Move internamente de baixo para cima

  //margin-top: 50px; //Move todo o elemento de cima para baixo

  // margin-left: 50px; //Move todo o elemento da esquerda para a direita

  // margin-right: 40px;  //Move todo o elemento da direita para a esquerda

  // margin-bottom:  40px; //Move todo o elemento de baixo para cima

  h2 {

    display: block; //Ocupa toda a linha (horizontal/largura) independente do tamanho do elemento, comportamento de <div> , <h1>, <p> ...

    display: inline; //Ocupa somente o espaço do elemento, comportamento da tag <a> e <span>

    //O que vamos utilizar - display: inline-block;
    display: inline-block; //Deixa na mesma linha e permite o controle de larguras e alturas
    width: 30%;
    color: #ffffff;
    margin-top: 45px;
    padding-left: 180px;
    font-family: "Sansita Swashed", system-ui;
  }

  nav {
    //background-color: #d2aed2;
    display: inline-block;
    width: 40%;
    text-align: end;

    a {
      margin-right: 20px;
      text-decoration: none; //Tira a estilização padrão da tag <a>
      color: #ffffff;
    }
  }
}

.background {
  background-image: url("assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  color: #ffffff;
  text-align: center;
  padding-top: 180px;

  h1 {
    font-size: 5rem;
    margin-bottom: 15px;
    font-family: "Sansita Swashed", system-ui;
  }

  p {
    font-size: 2rem;
    width: 60%;
    margin-bottom: 20px;
    margin-left: 430px;
    font-family: "Roboto", sans-serif;
  }

  button {
    background-color: #66BB6A;
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
  }
}

.cards {
  background-color: #F1F8E9;
  height: 80vh;
  text-align: center;
}


.card {
  width: 20vw;
  height: 60%;
  box-shadow: 0 4px 6px #969996;
  border-radius: 0 0 15px 15px;
  display: inline-block;
  margin: 150px 20px;


  img {
    width: 100%;
    border-radius: 10px 10px 0 0;

  }

  h3 {
    margin-top: 15px;
    font-size: 1.75rem;
    font-family: "Roboto", sans-serif;
  }

  p {
    margin-top: 30px;
    font-family: "Roboto", sans-serif;
  }

  button {
    margin-top: 30px;
    border-radius: 50px;
    padding: 15px 60px;
    background-color: #66BB6A;
    color: #F1F8E9;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
  }
}

.formulario {
  background-color: #ffffff;
  height: 80vh;


  h2 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 2.5rem;
  }

  p {
    color: #767676;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 1.75rem;
    width: 50vw;
    margin-bottom: 20px;
    margin-left: 450px;
    margin-top: 20px;

  }
}

form {
  padding-left: 30%;
  height: 80vh;

  label {
    font-family: "Roboto", sans-serif;
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
    font-size: 1.5rem;


  }

  input {
    display: block;
    width: 50%;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    border-style: none;
  }

  button {
    
    background-color: #66BB6A;
    color: #ffffff;
    padding: 20px 300px;
    display: block;
    border-radius: 25px;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    margin-top: 20px;
    margin-left: 120px;
    border: none;
  }
}
#atividade {
  width: 40vw;
  height: 30px;
  border: none;
  color: #767676;
  font-family: "Roboto", sans-serif;
}
footer {
  height: 20vh;
  background-color: #66BB6A;
  color: #ffffff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding-top: 60px;

p {
  margin-top: 2%;
}
}